.container-personal{
    height: 350px;
    background-color: #64666b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p{
    color: #cfdce1;
}
.margin{
    margin-left: 16px;
}
.noted-card{
    background-color: #2d2e30;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 10px;
}